<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Get A Clue{% if page.title %} - {{ page.title }}{% endif %}</title>
  </head>
  <body>
    <header>
      <div class="inner">
        <h1>Get a clue</h1>
        <h2>Website for our improv group&#39;s potential show at Second City</h2>
        <a href="https://github.com/danwizard208/get-a-clue" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>
    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          {{ content }}

          <div id="footer">
            <h3>Links</h3>
            <ul>
              {% for page in site.pages %}
                {% if page.title %}
                <li>
                  <a href="{{ page.url | replace:'.html','' }}"> {{ page.title }} </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
      </div><!-- /.inner clearfix -->
    </div><!-- /#content-wrapper -->
  </body>
</html>
